# Ignore everything by default
*

# Don't ignore these directories
!src/
!src/**
!resources/
!resources/**

# Don't ignore these files
!pom.xml
!README.md
!README-old.md
!.gitignore

# Don't ignore target directory and built jar
!target/
!target/kuberturvalisuse-simulaator-1.0-SNAPSHOT.jar

# Don't ignore Maven Wrapper files
!mvnw
!mvnw.cmd
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
